body {
    margin: 0;
    font-family: sans-serif;
    background: #3a0213;
    color: white;
    /* background: maroon; */
  }
  
  .mt-4{
    text-align: center;
  }
  .class1{
    border-top: 5px solid white;
  }
  .app {
    display: grid;
    flex-direction: row;
     padding-bottom: 1em; 
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    margin:0 auto;
    float:left;
    width: 25%;

  }
  .info{
    text-align: center;
    /* font-size: 12px; */
  }
  .intro{
    max-width: 100%;
    height: auto;
  }
  .sidebar {
    min-height: 100vh;
    min-width: 12em;
    width: 28%;
    border-right: solid black 1px;
    background: #c9c6c6;
    padding: 1em;
    color: black;
  }
  .card-title{
    color:#700917
  }
  .sidebar > button {
    width: 100%;
  }
  
  /* .poems-container {
    max-width: 30em;
    margin: auto;
  } */
  
  .poems-container > div {
    border-bottom: solid 1px grey;
    /* padding-bottom: 1em; */
    /* min-width: 20em; */
  }
  
  .poems-container > div > button {
    min-width: 4em;
  }
  
  form.new-poem-form {
    border: solid black 1px;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  
  form.new-poem-form > input,
  form.new-poem-form > textarea {
    font-size: 1em;
    font-family: sans-serif;
    margin-bottom: 0.5em;
  }
  .scard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    margin:0 auto;
    float:left;
    width: 25%;

  }
  .scards{
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    margin:0 auto;
    float:left;
    width: 25%;

  }


  nav{
    background: #1d000d;
    color: white;
    
  }
  .nav-link, li{
    color: white;
  }
    .card{
    box-shadow: 0 0 3px #3a0213;
    }
    /* grid-template-rows: auto; */
    /* grid: 2%; */
  input[type="submit"],
  button {
    font-weight: bold;
    font-size: 1em;
    background: #3a0213;
    color:  white;
    border: solid black 1px;
    padding: 0.5em;
    cursor: pointer;
  }
  